<div class="container">
    <h1>Contacto</h1>

    <p>
        Esta es la pagina de contacto, puedes enviarnos cualquier duda
    </p>

    
    <!--
        Tamaño del Slider
        <input type="number" [(ngModel)]="widthSlider" />
        <button (click)="cargarSlider()">Aplicar</button>
        <button (click)="resetSlider()">Resetear</button>
        
        <div *ngIf="anchuraToSlider">
            
            <slider [anchura]="anchuraToSlider" [etiqueta]="captions" (conseguirAutor)="getAutor($event)"></slider>
        </div>
        <div *ngIf="autor">
            
            {{autor.nombre+" "+autor.website+" "+autor.youtube}}
        </div>
    -->
</div>