<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit vel orci faucibus lacinia. In hac habitasse platea dictumst. Integer nec consequat risus, eu ullamcorper purus. Integer vulputate ornare nunc, nec gravida nulla mollis eget. Vivamus consequat, mauris a fringilla pharetra, sem diam aliquet magna, nec sagittis orci magna nec sem. Nullam porttitor tincidunt commodo. Proin nibh elit, dignissim eu venenatis in, varius sit amet est. Ut eget fringilla lectus. Suspendisse potenti. Aliquam tempus et metus at dictum.
    </p>
</article>